
/lib/rokuby - Copy
/pkg
/doc
/Test/ProjectTest/build
/Test/ProjectTest/bin
/Test/ProjectTest/projects
/Test/ProjectTest/solutions
/Test/ProjectTest/log.txt
/Test/TestProject/solutions
/Test/TestProject/projects
/Test/TestProject/bin
/Test/TestProject/build
*~
/.yardoc